IDI_ICON1 ICON "vaya.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,12
PRODUCTVERSION  1,0,0,12
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "VAYA Consulting"
      VALUE "FileDescription", "Ein Werkzeug, um Updates für Plugins auf einem eigenen Server zu aktualisieren."
      VALUE "FileVersion", "1.0.0.12"
      VALUE "InternalName", "wp_plugin_release"
      VALUE "LegalCopyright", "Copyright (c)2025 VAYA Consulting"
      VALUE "OriginalFilename", "wp_plugin_release.exe"
      VALUE "ProductName", "wp_plugin_release"
      VALUE "ProductVersion", "1.0.0.12"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x407, 1252
  END
END