IDI_ICON1 ICON "vaya.ico"

1 VERSIONINFO
FILEVERSION     1,1,3,26
PRODUCTVERSION  1,1,3,26
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "VAYA Consulting"
      VALUE "FileDescription", "A tool to update plugins on your own server."
      VALUE "FileVersion", "1.1.3.26"
      VALUE "InternalName", "wp_plugin_release"
      VALUE "LegalCopyright", "Copyright (c)2025 VAYA Consulting"
      VALUE "OriginalFilename", "wp_plugin_release.exe"
      VALUE "ProductName", "wp_plugin_release"
      VALUE "ProductVersion", "1.1.3.26"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x407, 1252
  END
END